@font-face {
  font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

body {
  background: blue;
  color: white;
  font-family: violet;
  padding: 20px;
  width: 100%;
  margin: 0;
  word-break: break-word;
}

h1, h2, h3, h4, h5, p, ul, li, blockquote {
  margin: 0;
}

a:focus, button:focus {
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  border-bottom: 3px solid black;
  line-height: 1em;
}

a.bold {
  font-weight: bold;
}

a.inline  {
  color: inherit;
  text-decoration: none;
  display: inline-block !important;
  margin-bottom: 0 !important;
}

a.fullwidth  {
  display: block !important;
  font-size: 1.525em;
}

.purple {
  color: rgb(181, 0, 255) !important;
}
