@font-face {
  font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

body {
  background: blue;
  color: white;
  font-family: violet;
  padding: 20px;
  width: 100%;
  margin: 0;
  word-break: break-word;
}

h1, h2, h3, h4, h5, p, ul, li, blockquote {
  margin: 0;
}

a:focus, button:focus {
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  border-bottom: 3px solid black;
  line-height: 1em;
}

a.bold {
  font-weight: bold;
}

a.inline  {
  color: inherit;
  text-decoration: none;
  display: inline-block !important;
  margin-bottom: 0 !important;
}

a.fullwidth  {
  display: block !important;
  font-size: 1.525em;
}

.purple {
  color: rgb(181, 0, 255) !important;
}

body.home.syllabi h5 {
  font-size: 1.75em;
  margin-bottom: 6px;
  margin-top: 62px;
}
body.home.syllabi h6 {
  font-size: 1.25em;
  margin-bottom: 6px;
  margin-top: 62px;
}
body.home.syllabi p {
  margin-bottom: 18px;
  line-height: 1.75em;
}

body.home.syllabi ul:last-of-type {
  margin-bottom: 62px;
}

body.home.syllabi ul li {
  margin-bottom: 12px;
  display: block;
  line-height: 1.25em;
  max-width: 680px;
}

body.home.syllabi ul li a {
  display: block;
}
body.home.syllabi a:hover {
  color: tomato;
  border-color: tomato;
}
