body {
  background: black;
  color: white;
}

h1 {
  margin-bottom: 18px;
  font-size: 4.5em;
}

body.home {
  background-color: blueviolet;
}

body.home a {
  /* font-size: 1.325em; */
  border-bottom: 3px solid white;
  display: block;
  margin-bottom: 12px;
}

a:hover {
  color: black;
  border-color: mediumpurple;
}

body.home p {
  font-size: 1.525em;
  margin: 25px 0 65px 0;
  max-width: 670px;
  line-height: 1.45em;
  position: relative;
  z-index: 10;
}

body.home h4 {
  font-size: 3.525em;
  margin: 25px 0;
  max-width: 670px;
}
#orientation-blocks {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
.loading {
  font-size: 3em;
  letter-spacing: .09em;
  color: chartreuse;
}
.block,
.channel {
  display: flex !important;
  padding: 15px;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 70px !important;
  border: none !important;
  font-size: 1.325em !important;
}
a.block,
a.channel {
  cursor: pointer;
  border: none !important;
  font-size: 1em !important;
  text-align: center;
}
a.channel {
  border: 2px solid white !important;
  font-size: 2em !important;
  min-height: 300px;
}
.block img {
  display: block;
  margin: 0 auto 10px auto;
}


.knot {
  position: fixed;
  width: 100%;
  display: block;
  max-width: 15%;
}
.knot.one {
  top: 5%;
  right: 5%;
}

.knot.two {
  top: 35%;
  left: -10%;
  max-width: 20%;
}

.knot.three {
  bottom: 3%;
  right: -2%;
  max-width: 17%;
}

/* DESKTOP ONLY STYLES!! */
@media only screen and (min-width: 768px) {
  #orientation-blocks {
    flex-direction: row;
  }
  .block,
  .channel {
    width: 32%;
  }
  .knot.two {
    left: auto;
    right: 18%;
  }
  .knot.three {
    bottom: -8%;
  }
}
