body {
  background: mediumblue;
  color: white;
}

h1 {
  margin: 0.4em 0;
  font-size: 3.5em;
}

a {
  border-bottom: 3px solid white;
}

a:hover {
  color: hotpink !important;
  border-color: hotpink !important;
}

h3 {
  margin-bottom: 0.5em;
}

.blog-index a {
  display: block;
  font-size: 1.25em;
  margin-bottom: 12px;
}

.plotter-drawing {
  display: block;
  width: 100%;
  margin: -40px auto 0 auto;

}

/* DESKTOP ONLY STYLES!! */
@media only screen and (min-width: 768px) {
  .plotter-drawing {
    max-width: 60%;
    margin: -80px auto 0 auto;
  }
}
