img {
  display: block;
  margin: 1.5em auto 1.5em auto;
  max-width: 820px;
  width: 100%;
}

small {
  display: block;
  margin: 0;
  text-align: right;
  font-size: 1.125em;
}

p {
  font-size: 1.225em;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 1.5em;
  max-width: 670px;
  margin: 0 auto 1em auto;
}

h3 {
  font-size: 2.85em;
  margin: 0.5em 0;
  max-width: 980px;
}

h4 {
  font-size: 2.125em;
  margin-bottom: 1.5em;
  max-width: 980px;
}

h6 {
  font-size: 1.5em;
  margin-bottom: 2.5em;
  max-width: 980px;
}

h5 {
  margin: 2em auto .5em auto;
  font-size: 1.675em;
  max-width: 670px;
}

ul, ol, blockquote {
  margin: 0 auto 1em auto;
  max-width: 670px;
}

p blockquote, ol li blockquote, ul li blockquote, blockquote {
  font-size: 3.125em !important;
  margin: 1.5em auto 1.5em auto;
  font-family: inherit;
}

blockquote p {
  font-size: inherit;
  margin: 0;
  line-height: inherit;
  max-width: inherit;
  font-family: inherit;
}

ul li,
ol li {
  font-size: 1.325em;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 1.5em;
  max-width: 670px;
  margin: 0 auto 0.375em auto;
}
p a {
  border: none;
  line-height: inherit;
  text-decoration: underline;
  display: inline;
}
.holding-it-all-together {
  position: relative;
  padding-top: 30px;
  width: 100%;
}
.holding-it-all-together.meet-the-students h2 {
  text-align: center;
  text-transform: lowercase;
  letter-spacing: .02em;
  font-size: 3em;
  color: #580081;
}
.holding-it-all-together.meet-the-students img {
  width: 100%;
}
.holding-it-all-together.meet-the-students p {
  margin-bottom: 120px;
}

a.home-button {
  position: sticky;
  top: 60px;
  border: none !important;
}

a.turn-image-into-link {
  border-bottom: none;
  position: relative;
  display: block;
}

a.turn-image-into-link:after  {
  content: ' \219D';
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 45%;
  display: block;
  font-size: 4em;
}

a.turn-image-into-link:hover:after {
  opacity: 1;
  color: hotpink;
}

pre {
  background: black;
  color: white;
  max-width: 900px;
  margin: 0 auto;
  white-space: pre-wrap;
  padding: 15px;
  width: 100%;
  font-family:
}
pre.special-formatting {
  background: transparent;
  color: inherit;
  max-width: none;
  margin: 0;
  white-space: pre-wrap;
  padding: 0;
  width: 100%;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1.325em;
  line-height: 1.5em;
}
pre.special-formatting.push-left {
  padding-left: 25% !important;
}
pre code {
  font-size: 1.35em;
}

#resources {
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 20px);
  border-bottom: 10px solid mediumpurple;
  overflow: scroll;
}
#resources .block,
#resources .channel {
  width: 20%;
  padding: 20px;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}

a.block,
a.channel {
  cursor: pointer;
  border: none !important;
  font-size: 1em !important;
  text-align: center;
}
a.channel {
  border: 2px solid white !important;
  font-size: 1.5em !important;
  min-height: 100px;
}

#arena-drawer-button {
  font-size: 0.75em;
  text-transform: uppercase;
  font-family: monospace;
  text-align: center;
  width: 100%;
  cursor: pointer;
  background: black;
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 7px 0px;
  right: 0;
  z-index: 20;
}

#arena-drawer {
  display: none;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
}

#arena-drawer.open {
  display: flex;
}

#arena-drawer-button #close {
  display: none;
}
#arena-drawer-button.open #close {
  display: block;
}
#arena-drawer-button.open #open {
  display: none;
}

.link-to-arena-channel {
  padding-bottom: 20px;
  margin-bottom: 10px;
  display: block !important;
}

#arena-drawer .block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: normal;
  line-height: 1.35em;
  border-bottom: 5px solid black !important;
  text-align: left;
}

#arena-drawer .block img {
  max-height: 30px;
  width: auto;
  margin: 0 10px 0 0;
}

/* DESKTOP ONLY STYLES!! */
@media only screen and (min-width: 768px) {
  .holding-it-all-together.meet-the-students img {
    width: 40%;
  }
  #arena-drawer-button {
    font-size: 0.9675em;
  }
  .link-to-arena-channel {
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block !important;
  }
  h3 {
    font-size: 4.75em;
  }
  .two-images {
    display: flex;
    align-items: center;
  }
  .two-images img {
    width: 45%;
  }
  small {
    margin: 1.5em 0 1.5em 2em;
    font-size: .9675em;
  }
  a.home-button {
    top: 65px;
  }
}
